#about {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
}

.about-content {
  max-width: 1200px;
  padding: 0 2rem;
  margin: 5rem 0;
}

.profile-pic {
  width: 325px;
  border-radius: 50%;
  margin-bottom: 1rem;
  border: 5px solid #ffffff;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.sub-heading {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 1.5rem;
  text-align: left;
}

.about-description,
.about-education {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  text-align: left;
}

.about-education ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-top: 0.5rem;
}

.about-education ul li {
  margin-bottom: 0.5rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.icon {
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  transition: color 0.3s;
}

.icon:hover {
  color: #F76900;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.info-button {
  display: inline-block; 
  background-color: #ffffff;
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #333; 
  text-decoration: none; 
}

.info-button:hover {
  background-color: #e2e2e2;
  text-decoration: none; 
}

.with-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.info-button.with-icon {
  background-color: #333; 
  color: #fff;
}

.info-button.with-icon:hover {
  background-color: #1d1d1d; 
}

@media (max-width: 1050px) {
  #about {
    padding: 4rem 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .sub-heading {
    font-size: 1rem;
  }

  .profile-pic {
    width: 210px;
  }

  .icon {
    font-size: 1.5rem;
  }

  .info-button {
    padding: 0.75rem 1.5rem;
    font-size: 0.9rem;
  }
}
