.contact-wrapper {
  min-height: 100vh;
  background-image: url("../assets/images/subway.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.contact-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  z-index: 0;
  filter: brightness(0.5);
}

#contact {
  position: relative;
  z-index: 1;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#contact h2 {
  font-size: 2rem;
  margin-bottom: 0.10rem;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.contact-info {
  font-size: 1.2rem;
  color: #ffffff;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  line-height: 1.6;
}

.contact-form {
  width: 100%;
  max-width: 600px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.form-spacing {
  margin-top: 1rem;
}

.contact-form input,
.contact-form textarea {
  background-color: #f5f5f5;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 0.80rem;
  color: #495057;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #6c757d;
}

.submit-button {
  margin-top: 2rem;
  width: 100%;
  background-color: #000e54b6 !important;
  color: #fff;
  font-weight: bold;
  padding: 1.5rem !important;
  border: none;
  border-radius: 4px;
  margin-bottom: 4rem;
}

.submit-button:hover {
  background-color: #0056b3;
}

.contact-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  color: #ffffff;
  padding: .5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  z-index: 1;
}

.contact-footer p {
  margin: 0;
}

.social-icons {
  display: flex;
  gap: 1.5rem;
  margin-left: 0.80rem;
}

.icon {
  font-size: 1.78rem;
  color: #ffffff;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #F76900;
}

a.email-link, a.phone-link {
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 0.2rem 0.5rem; 
  border-radius: 5px; 
  transition: all 0.3s ease;
}

a.email-link:hover, a.phone-link:hover {
  color: #ffffff;
  background-color: #000e54b6; 
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

@media (max-width: 600px) {
  #contact {
    padding: 2rem 0; 
  }

  #contact h2 {
    font-size: 1.5rem; 
  }

  .contact-info {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .contact-form {
    width: 90%; 
    max-width: 100%;
    margin-top: 1rem;
  }

  .submit-button {
    padding: 1rem !important; 
    font-size: 1rem; 
  }

  .contact-footer {
    flex-direction: column; 
    padding: 1rem;
    text-align: center;
  }

  .social-icons {
    margin-left: 0; 
    gap: 1rem;
  }

  .contact-footer p {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
}
