#skills {
  min-height: 100vh;
  background-color: #0099ff; 
  color: #ffffff;
  text-align: center;
  padding: 3rem 14rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#skills h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem; 
  color: #ffffff;
}

#skills .card {
  background-color: #0099ff; 
  color: #ffffff;
  border: none;
  margin-bottom: 1rem; 
  max-width: 100%; 
  padding: 0rem;
}

#skills .icon {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #ff8741;
  background-color: #ffffff; 
  border-radius: 50%; 
  padding: 1rem; 
  display: inline-flex;
  align-items: center;
  justify-content: center; 
}

#skills .card-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem; 
  font-weight: bold;
}

#skills .card-text {
  font-size: 1rem;
}

@media (max-width: 768px) {
  #skills h2 {
    font-size: 2.5rem;
  }
  #skills .card {
    margin-bottom: 1rem; 
  }
}
